# {{ ansible_managed }}
global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']

rule_files:
  - /etc/prometheus/rules.d/*.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node
    static_configs:
      - targets:
          - 'head:9100'
          - 'node1:9100'
          - 'node2:9100'

  - job_name: slurm
    static_configs:
      - targets: ['head:{{ prometheus_slurm_exporter_port }}']

  - job_name: cgroup
    static_configs:
      - targets:
          - 'node1:9798'
          - 'node2:9798'

  - job_name: tetragon
    static_configs:
      - targets:
          - 'node1:9799'
          - 'node2:9799'
