# {{ ansible_managed }}
ClusterName={{ slurm_common_cluster_name }}
SlurmctldHost=head
AuthType=auth/munge
CredType=cred/munge

MpiDefault=none
ProctrackType=proctrack/cgroup
ReturnToService=1
SlurmctldPidFile=/run/slurmctld.pid
SlurmdPidFile=/run/slurmd.pid
SlurmdSpoolDir=/var/spool/slurmd
SlurmUser=slurm
StateSaveLocation=/var/spool/slurmctld
SwitchType=switch/none
TaskPlugin=task/cgroup,task/affinity

SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory

AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost=head
JobCompType=jobcomp/none

SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

# 노드 정의 — Phase 0 실측치(slurmd -C)에서 OS 여유분을 뺀 값
NodeName=node1 CPUs={{ slurm_common_worker_cpus }} RealMemory={{ slurm_common_worker_real_memory }} State=UNKNOWN
NodeName=node2 CPUs={{ slurm_common_worker_cpus }} RealMemory={{ slurm_common_worker_real_memory }} State=UNKNOWN

# 파티션
PartitionName={{ slurm_common_partition_name }} Nodes=node1,node2 Default=YES MaxTime=INFINITE State=UP
